bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.DS_Store
*.user
*.suo
*.DotSettings

obj
bin
**/packages

TestResults

/db/*
!/db/SQL.Changes
/db/*.sws
/db/*.pdb
/db/*.apm

/media
/utils

**/*.tss
**/.vs/**

_ReSharper.Caches

*.js.map
*.rsa
*.orig
**/Logs/**/*.log
**/Logs/**/*.txt
**/Logs/**/*.json
appsettings.*.json

.vscode
.sonarqube
**/BenchmarkDotNet.Artifacts/
.idea
StyleCop.Cache